<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/dist/style.css">
</head>

<body>
    <main class="deleteUserPage">
        <%- include('./components/navbar') %>

            <div class="deleteUserPage__question">
                <h1>
                    Hello, <%- user.name %>!
                </h1>

                <h2> Are you sure you want to delelte your account? </h2>

                <form action="/profile/deleteuser" method="POST">
                    <input type="hidden" name="id" value="<%- user.id %> ">
                    <input type="hidden" name="_csrf" value="<%-csrf%>">

                    <button type="submit" class="deleteUserPage__btn">Delete account</button>
                </form>
            </div>
    </main>
</body>

</html>