<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <!-- </%- include('./components/navbar') %> -->
    <div class="container">

        <div class="container__moto">Stay organized, just login and get more done!</div>

        <div class="container__logReg">
<<<<<<< HEAD
            <div class="container__info"><img src="./icons/info.png" alt="i">
                <div class="container__info--text">
=======
            <i class="fas fa-info">
                <div class="info">
>>>>>>> parent of 1a2b201 (info)
                    <h3>For enter without registration you can use follow login:</h3>
                    <p>E-mail: </p>
                    <p>test@email.com</p>
                    <p>Password: </p>
                    <p>789456123</p>
                </div>
<<<<<<< HEAD
            </div>
            <div class="container__logReg--btns">
=======
            </i>
            <div class="container__logReg--show">
>>>>>>> parent of 1a2b201 (info)
                <h2 class="btnLogin active" onclick="hendleShowLog()">Login</h2>
                <h2 class="btnReg" onclick="hendleShowReg()">Registration</h2>
            </div>


            <div class="login">

                <form action="/auth/login" method="POST" class="container__logReg--form">

                    <% if (loginError) { %>
                        <span class="alert">
                            <%- loginError %>
                        </span>
                        <% } %>

                            <% if (registError) { %>
                                <span class="alert">
                                    <%- registError %>
                                </span>
                                <% } %>

                                    <h2>Login</h2>
                                    <input type="email" name="email" id="email" placeholder="Email" required>
                                    <input type="password" name="password" id="password" placeholder="Password"
                                        required>

                                    <p><a href="/auth/reset">Forgot password?</a></p>
                                    <input type="hidden" name="_csrf" value="<%- csrf%>">

                                    <button type="submit">Login</button>
                </form>
            </div>

            <div class="reg" style="display: none;">
                <form action="/auth/regist" method="POST" class="container__logReg--form">

                    <h2>Registration</h2>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="repeat" id="repeat" placeholder="Confirm" required>
                    <input type="text" name="name" id="name" placeholder="Name" required>

                    <input type="hidden" name="_csrf" value="<%-csrf%>">

                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <div class="createdBy">
            <a href="https://katya-ru.herokuapp.com/">Created by Katya Rukosuev</a>
            <div>|</div>
            <a href="mailto:katya.ru.fullstack@gmail.com">Contact</a>
        </div>

    </div>
    <script src="/jquery-3.6.0.min.js"></script>
    <script src="/jquery.js"></script>

</body>

</html>