<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
        <link rel="stylesheet" href="/style/style.css">
</head>

<body>

    <div class="container">
        <%- include('./components/navbar') %>
            <!-- Password -->
            <div id="password" class="containerReset">
                <% if (error) { %>
                    <p class="alertReset">
                        <%- error %>
                    </p>
                    <% } %>
                        <h1 class="containerReset__header">New password</h1>
                        <form action="/auth/password" method="POST" class="containerReset__form">
                            <input type="password" id="password" name="password" class="form-control mb-3" required
                                placeholder="Enter new password">
                            <span data-error-message="Enter password"></span>

                            <!-- <input type="hidden" name="_csrf" value="</%-csrf%>"> -->
                            <input type="hidden" name="userID" value="<%-userId%>">
                            <input type="hidden" name="token" value="<%-token%>">

                            <button class="btn btn-success" type="submit">Updait</button>
                        </form>
            </div>
    </div>
</body>