<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body class="profileMain">
    <%- include('./components/navbar') %>

        <div class="profileMain__content">

            <h1><%- user.name %> profile</h1>

            <div class="profileMain__displayDirection">

                <div class="profileMain__leftSide">
                    <% if (user.avatarUrl) { %>

                        <img src="/<%- user.avatarUrl %> " alt="avatar-<%- user.name %> ">
                        <% } else { %>
                            <p class="profileMain__leftSide--noPic">No photo here</p>
                            <% } %>
                </div>

                <div>
                    <form action="/profile" method="POST" enctype="multipart/form-data" class="profileMain__rightSide">
                        <h3>Your Email</h3>
                        <p>
                            <%- user.email %>
                        </p>

                        <h3>Change your name</h3>
                        <input id="name" name="name" type="text" required value="<%- user.name %>"></label>

                        <h3>Choose your photo</h3>
                        <label for="avatar">
                            <span>Click to upload</span>
                            <input type="file" name="avatar" id="avatar" class="hideFileBtn">
                        </label>

                        <input type="hidden" name="_csrf" value="<%-csrf%>">

                        <button type="submit">Change</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="/jquery-3.6.0.min.js"></script>
        <script src="/jquery.js"></script>
</body>

</html>