<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="main">
            <div class="leftSide">
                <div class="leftSide__helloUser">
                    Hello, <%- user.name %>!
                </div>

                <% if (user.avatarUrl) { %>
                    <div class="leftSide__pic--backgroung">
                        <img src="/<%- user.avatarUrl %>" alt="Photo-<%- user.avatarUrl %>" class="leftSide__pic">
                    </div>
                    <% } else { %>
                        <p class="leftSide__noPic">Edit your profile for adding photo</p>
                        <% } %>
            </div>
            <div class="containerTasks">
                <div id="remembers">
                    <form action="/remembers/addremembr" method="POST" class="formAddRemembr">
                        <input type="text" name="remembr" id="remembr" class="taskAdd"
                            placeholder="Write your task here">

                        <input type="hidden" name="_csrf" value="<%-csrf%>">

                        <button type="submit" class="taskSend">Save</button>
                    </form>

                    <% console.log(tasks) %>
                        <div class="remembers__tasks">
                            <% if (tasks.length) { %>
                                <% tasks.forEach(task=> { %>
                                    <%- include('./components/taskForEach',{task}) %>
                                        <% }) %>
                                            <% } else { %>

                                                <div class="remembers__noTask">
                                                    <div>There no tasks.</div>
                                                    <div>Just write your task and</div>
                                                    <div style="color:rgb(221, 72, 13)">Be organized!</div>
                                                </div>
                                                <% } %>




                        </div>
                </div>
            </div>
        </div>

        <script src="/jquery-3.6.0.min.js"></script>
        <script src="/jquery.js"></script>
        <script src="/index.js"></script>
</body>

</html>