<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="main">
            <div class="leftSide">
                <div class="leftSide__helloUser"> Hello, <%- user.name %>!</div>

            </div>
            <div class="containerTasks">
                <div id="remembers">
                    <form action="/remembers/addremembr" method="POST" class="formAddRemembr">
                        <input type="text" name="remembr" id="remembr" class="taskAdd"
                            placeholder="Write your task here">

                        <input type="hidden" name="_csrf" value="<%-csrf%>">

                        <button type="submit" class="taskSend">Save</button>
                    </form>

                    <% console.log(tasks) %>
                        <div class="remembers_tasks">
                            <% if (tasks.length) { %>
                                <% tasks.forEach(task=> { %>
                                    <div class="eachTask">
                                        <input type="checkbox" class="eachTask__checkbox"
                                            onclick="hendleTextDecoration()">
                                        <div class="eachTask__content">
                                            <p class="eachTask__content--text">
                                                <%- task.text%>
                                            </p>
                                            <div class="date eachTask__content--date">
                                                <%- task.date%>
                                            </div>
                                        </div>
                                        <button type="button" class="deleteTask" data-id="<%- task._id %>"
                                            data-csrf="<%-csrf%>">Delete</button>
                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <div>There no tasks still</div>
                                            <% } %>
                        </div>
                </div>
            </div>
        </div>

        <script src="/jquery-3.6.0.min.js"></script>
        <script src="/jquery.js"></script>
        <script src="/index.js"></script>
</body>

</html>