<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/navbar') %>
        <div class="main">
            <div class="leftSide" id="sideMenu">
                <div class="leftSide__info">
                    <a href="/profile" class="leftSide__info--link"><img src="./icons/editProf.png"></a>

                    <div class="leftSide__helloUser">
                        Hello, <%- user.name %>!
                    </div>

                    <% if (user.avatarUrl) { %>
                        <div class="leftSide__pic--backgroung">
                            <img src="/<%- user.avatarUrl %>" alt="Photo-<%- user.avatarUrl %>" class="leftSide__pic">
                        </div>
                        <% } else { %>
                            <p class="leftSide__noPic">Edit your profile for adding photo</p>
                            <% } %>
                </div>

            </div>
            <div class="containerTasks">
                <div id="remembers">
                    <form action="/remembers/addremembr" method="POST" class="formAddRemembr">
                        <input type="text" name="remembr" id="remembr" class="formAddRemembr__taskAdd"
                            placeholder="Write your task here">

                        <input type="hidden" name="_csrf" value="<%-csrf%>">

                        <button type="submit" class="formAddRemembr__taskSend">Save</button>
                    </form>

                    <% console.log(tasks) %>
                        <div class="remembers">
                            <% if (tasks.length) { %>
                                <% tasks.forEach(task=> { %>
                                    <div class="remembers__eachTask">
                                        <div class="remembers__eachTask--text">
                                            <%- task.text%>
                                        </div>
                                        <div class="date remembers__eachTask--date">
                                            <%- task.date%>
                                        </div>
                                        <!-- EDIT BTN -->
                                        <div>
                                            <a href="/remembers/<%- task._id %>/edit?allow=true"
                                                class="remembers__eachTask--editBtn">
                                                <img src="./icons/editTask.png" alt="Edit">
                                            </a>
                                        </div>
                                        <!-- DELETE BTN -->
                                        <div>
                                            <button type="button" class="deleteTask remembers__eachTask--deleteBtn">
                                                <img class="deleteTask" src="./icons/delete.png" alt="Delete"
                                                    data-id="<%- task._id %>" data-csrf="<%-csrf%>">
                                            </button>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } else { %>

                                            <div class="remembers__noTask">
                                                <div>There no tasks.</div>
                                                <div>Just write your task and</div>
                                                <div style="color:rgb(221, 72, 13)">Be organized!</div>
                                            </div>
                                            <% } %>




                        </div>
                </div>
            </div>
        </div>

        <script src="/jquery-3.6.0.min.js"></script>
        <script src="/jquery.js"></script>
        <script src="/index.js"></script>
</body>

</html>