<% if (task) { %>
    <div class="tasksPage__allTasks__eachTask">
        <div class="tasksPage__allTasks__eachTask--infoTask">
            <div class="date tasksPage__allTasks__eachTask--date">
                <%- task.date%>
            </div>
            <div class="tasksPage__allTasks__eachTask--title">
                <!-- <div> -->
                <%- task.title%>
                    <!-- </div> -->
                    <!-- <div class="tasksPage__allTasks__eachTask--downBtn">
                    <img src="./icons/down.png" alt="down" />
                </div> -->
            </div>
            <!-- <div class="tasksPage__allTasks__eachTask--text">
                <%#- task.text%>
            </div> -->
        </div>
        <div class="tasksPage__allTasks__eachTask--delAndUpdate">
            <button type="button" class="deleteTask eachTask__deleteBtn" data-id="<%- task._id %>"
                data-csrf="<%-csrf%>"><img class="deleteTask" src="./icons/del.png" alt="Delete"
                    data-id="<%- task._id %>" data-csrf="<%-csrf%>"></button>
            <a href="/remembers/<%- task._id %>/edit?allow=true" class="eachTask__editBtn"><img src="./icons/edit.png"
                    alt="Edit"></a>
        </div>
    </div>
    <% } else { %>
        <div>No tasks</div>
        <% } %>